@charset "UTF-8";
html {
    font-size: 100%;
}

body {
    color: #383e45;
    font-size: 0.9rem;
}

a {
    text-decoration: none;
    color: #383e45;
    margin-right: 1rem;
}

img {
    max-width: 100%;
}

h2 {
    /* インラインブロック要素にすることで、下線がテキストの幅に合わせて引かれるようになる */
    display: inline-block;
    border-bottom: #383e45 solid 1px;
     margin-bottom: 60px;
}

.wrapper {
    /* 画面が960px以下も自動的にアジャストする */
    max-width: 960px;
    margin: 0 auto 100px;
    padding: 0.4%;
    text-align: center;
}
/* header */
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}


#header nav ul{
    display: flex;
    list-style-type: none;
}

#header img {
    border-radius: 10px;
}
#mainvisual img {
    width: 100%;
    max-width: 1920px;
    height: 600px;
    object-fit: cover;
  }
/* about */
#about {
    align-items: center;
    margin-top: 100px;
   
}

#about div  {
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#about div div {
    flex-direction: column;
}

#about img {
    border-radius: 50%;
    margin-right: 30px;    
}

/* section */
#bicycle ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}
#bicycle li {
    width: 32%;
}

/* footer */
#footer {
  font-size: 0.5rem;
  padding: 10px 0;
  text-align: center;
}


/* ---------
スマホポイントsp
----------*/ 
@media screen and (max-width: 1024px) {
    #mainvisual img {
    height: calc(100vh - 50px);
    max-width: 100%;
    }
    #about div {
        flex-direction: column;
    }
    #about img {
        margin-right: 0;
        margin-bottom: 5%;
    }
    #bicycle ul {
        flex-direction: column;
    }
    #bicycle ul li {
        width: 100%;
        margin-bottom: 30px;
    }

}
