@charset "UTF-8";

:root {
  --main-color: #e1d0d0;
  --sub-color: #f9f1ea;
  --accent-color: #9ca0c5;
  --text-color: #383e45;
}
html {
  font-size: 100%;
  background-color: var(--main-color);
}
body {
  color: var(--text-color);
  font-size: 0.9rem;
  display: flex;
  flex-flow: column;
}
a {
  text-decoration: none;
}
img {
  height: auto;
  vertical-align: bottom;
}
li {
  list-style: none;
}
.site-title {
  width: 120px;
  line-height: 1px;
  padding: 10px 0;
}
.site-title a {
  display: block;
}
.section-title {
  display: inline-block;
  font-size: 2rem;
  margin-bottom: 60px;
  border-bottom: solid 1px #383e45;
}
.content-title {
  font-size: 1rem;
  margin: 10px 0;
}
.wrapper {
    /* 画面が960px以下も自動的にアジャストする */
    max-width: 960px;
    margin: 0 auto;
    padding: 0.4%;
    text-align: center;
}
h2 {
    /* インラインブロック要素にすることで、下線がテキストの幅に合わせて引かれるようになる */
    display: inline-block;
    border-bottom: #383e45 solid 1px;
     margin-bottom: 60px;
}

/* footer */
#footer {
  font-size: 0.5rem;
  padding: 10px 0;
  text-align: center;
}


/*
---------------------------------
ヘッダー画像とテキスト
---------------------------------
*/

.head-img {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.head-img h1 {
  color: var(--text-color);
  font-size: 2rem;
  margin-top: 10px;
}

.head-img img {
  /* display: block; */ 
  width: 90%;
  /* aspect-ratio: 0.8 / 1; */
  object-fit: cover;
  border-radius: 50% 50% 0 0;
  align-items: center;
  margin: 10px auto;
  height: calc(100vh - 96px);
}

.head-img p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -15%);
  color: var(--sub-color);
  font-size: 1rem;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  text-align: center;
}

/* aboutページ */
.about-text {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.about-text img {
  /* width: 100%; */
  align-items: right;
}

.about-content img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70px;
  height: auto;
}

/* ---------
ヘッダー要素
----------*/

.header-content ol {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* max-width: 1000px; */
  margin: 0 auto;
  text-decoration: none;
}

/* ヘッダーナビ */
.top-nav {
  position:sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  /* background: linear-gradient(to left, #f46b45, #eea849); */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: var(--text-color);
  background-color: rgba(156, 160, 197, 0.6);
  height: 50px;
  padding: 1em;
  backdrop-filter: blur(5px);
  z-index: 1000;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu a {
  color: var(--sub-color);
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: "";
  margin-top: -8px;
}

.menu-button::after {
  content: "";
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

/*
---------------------------------
ヘッダー画像とテキスト
---------------------------------
*/

.head-img {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.head-img h1 {
  color: var(--text-color);
  font-size: 2rem;
  margin-top: 10px;
}

.head-img img {
  display: block;
  width: 100%;
  aspect-ratio: 0.8 / 1;
  overflow: hidden;
  object-fit: cover;
  border-radius: 50% 50% 0 0;
  max-width: 800px;
  margin: 0 auto;
  margin-top: 10px;
  height: calc(100vh - 100px);
}

.head-img p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -15%);
  color: var(--sub-color);
  font-size: 1.2rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center;
}

/* aboutページ */
.about-text {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.about-text img {
  width: 100%;
  align-items: right;
}

.about-content img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 70px;
  height: auto;
}
/* --------
pc用
----------*/ 
@media screen and (min-width: 769px) {

}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }

  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  #menu-toggle:checked ~ .menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .menu > li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }

  .menu > li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}

